<#function getElementValueByName rootElement childNodeName>
    <#return rootElement.selectSingleNode("dynamic-element[@name='" + childNodeName + "']").getStringValue()?trim />
</#function>

<#function getNodeChild rootElement childName>
    <#return rootElement.selectSingleNode("dynamic-element[@name='" + childName + "']") />
</#function>

<#function getNodeChildren rootElement childrenName>
    <#return rootElement.selectNodes("dynamic-element[@name='" + childrenName + "']") />
</#function>

<#function getNodeValue rootElement>
    <#return rootElement.selectSingleNode("dynamic-content").getStringValue()?trim />
</#function>

<#if entries?has_content>
    <#assign 
        dlAppLocalServiceUtil = serviceLocator.findService("com.liferay.document.library.kernel.service.DLAppLocalService")
        dlURLHelper = serviceLocator.findService("com.liferay.document.library.util.DLURLHelper")
    />

    <div class="technological-information">
        <#list entries as curEntry>
            <#assign 
                journalArticle = curEntry.getAssetRenderer().getArticle()
                document = saxReaderUtil.read(journalArticle.getContent())
                rootElement = document.getRootElement()
                semesters = getNodeChildren(rootElement, "semestre")
            />
               
            <p>Edição: ${curEntry.getTitle(locale)}</p>

            <#list semesters as semester>
                <#if semester?index = 0>
                <p>semestre 1</p>
                <#else>
                <p>semestre 2</p>
</#if>
                <#assign
                    PDFs = getNodeChildren(semester, "pdf")
                />
                <#list PDFs as PDF>
                    <#assign 
                        documentTitle = getElementValueByName(PDF, "titulo")
                        package = getElementValueByName(PDF, "volume")

                        file = getNodeValue(PDF)?eval
                        fileEntry = dlAppLocalServiceUtil.getFileEntry(file.classPK)
                        fileURL = dlURLHelper.getImagePreviewURL(fileEntry, themeDisplay)
                    />

                    <p>PDF: ${fileURL?remove_ending("&previewFileIndex=1")}</p>
                    <p>Nome do PDF: ${documentTitle}</p>
                    <p>Volume: ${package}</p>

                </#list>    
            </#list>
        </#list>
    </div>
</#if>